cmake-build-debug/
build/
.idea/
*.ll
*.dot
*.bc

example/
scripts/

test/**/*.bc
test/**/*.o
test/**/*.so
test/**/*.h
test/**/*.out
test/**/path.py
test/**/*.tsf
test/tyr
test/install

# For the rust tests
test/**/target/
test/**/Cargo.lock
test/**/**/*.rs.bk
test/**/build_*_bindings.rs

venv/
